.statistics_table td {
    word-break: break-all;
}

.statistics_my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.statistics_hr-margin-small {
    margin-top: 10px;
    margin-bottom: 10px;
}

#stats_domain_select {
    margin-bottom: 15px;
}

#chart_visits_per_page {
    margin-bottom: 15px;
}

#rex-page-statistics-stats.modal-open {
    overflow: visible;
}
